.logo{
  width:4vw;
}
.hr_pink{
  border-top: 2px solid green;

}
.menus{
  font-size: 2vw;
  font-weight: bold;
  color: pink;
  cursor: pointer;

}
.navbar-light .navbar-nav .nav-link {
    color: red;
}



.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}

nav.nav_bar{
  z-index: 1031;
color: rgb(250, 91, 159);
  /* min-height:8vh; */
}

.menuinicio{
  font-size: 4.5vw;
  font-weight: bold;
  color: blue;
  /* margin-left: 10rem; */

}
.menutext.nav-link{
  color: blue;
  padding: .5rem 0rem;

}

.menutext{
  font-size: 3vw;
  font-weight: bold;
  margin-right: 0rem;
}

.menu_togg_round{
  width:2.5vw;
  height:2.5vw;
  min-width:35px;
  min-height: 35px;
  /* background-color:var(--main-taninn); */
  border-radius: 50%;
  padding: 0;
  border:none;
}

/* slide in menu */
.menu_layout{
  transform: translateZ(0);
  position:fixed;
  top:0;
  padding-top:130px;
  padding-bottom:5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  right:0;
  width:100vw;
  height:100vh;
  filter:blur(0);
  transition:all .3s ease-in;
  box-shadow: 2px 0 10px rgba(0,0,0,.3);
  clip-path: circle(0% at 96% 7%);

}
.slidein{
  animation: circleIn .5s forwards;
  /* transform:translateX(0); */
}
.slideout{
  animation: circleOut .5s forwards;
  /* z-index: -2; */
}
@keyframes circleOut {
  0%{
    clip-path: circle(150% at 90% 2.5%);
    background-color:blue;
  }
  /*when closing*/
  99%{
    clip-path: circle(0% at 96% 7%);
    background-color:#12B0FA ;
  }
  100%{
    z-index:0
  }
}
@keyframes circleIn {
  0%{

  }
  100%{
    clip-path: circle(150% at 90% 2.5%);
    /*color at full*/
    background-color:magenta;
    z-index: 1021;
  }
}



@media (max-width: 576px) {
  .main_logo{
    width:20vw;
    padding:.8rem;
  }
  .main_logo.below{
    /* position: relative; */
    min-width: 40px;
    width:3vw;
  }
  .slideout{
    position:fixed;
    padding-top:6rem;
    top:0;
    width:100vw;
    height:100vh;
    /* background-color:rgba(255,255,255,.8); */
    transition:all .3s ease-in;
    box-shadow: 2px 0 10px rgba(0,0,0,.3);
  }
}

@media (min-width:768px) and (max-width:1024){
  .menuinicio{
    font-size: 10vw;
    font-weight: bold;
    color: #4B2157;
    margin-left: 0rem;


  }
  .menutext{
    font-size: 15vw;
    font-weight: bold;
    color: #532CFB;
  }
}

@media (min-width:320px) and (max-width:767px){
  nav.nav_bar{
    z-index: 1031;
    margin-left: 0rem;
    margin-top: 2rem;

    /* min-height:8vh; */
  }
  .menuinicio{
    font-size: 10vw;
    font-weight: bold;
    color: #4B2157;
    margin-left: 0rem;


  }
  .menutext{
    font-size: 8vw;
    font-weight: bold;
    color: #532CFB;
  }


}
