.logo{
  width:7vw;
}


.navbar-light .navbar-nav .nav-link.menu_toggler{
  font-size: 2vw;
  font-weight: bold;
  color:#FA5B9F;


}

hr.upl{
  border: 2px solid #4B2157;
  transform: translateX(-50%);
margin-bottom: -2rem;
}

.lnmargin{
margin-top: 45px;
}

hr.dwnl{
  border: 2px solid #4B2157;

}

.marginmenu{
  margin-left: 20vw;
}

nav.nav_bar{
  z-index: 1031;
  mix-blend-mode: screen;
  /* min-height:8vh; */
}

.menuinicio{
  font-size: 3vw;
  font-weight: bold;
  color: #4B2157;

}
.menutext{
  font-size: 3vw;
  font-weight: bold;
  color: #532CFB;

}

.menu_togg_round{
  width:2.5vw;
  height:2.5vw;
  min-width:35px;
  min-height: 35px;
  /* background-color:var(--main-taninn); */
  border-radius: 50%;
  padding: 0;
  border:none;
}

/* slide in menu */
.slideout{
  transform: translateZ(0);
  position:fixed;
  top:0;
  padding-top:130px;
  padding-bottom:5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1021;
  right:0;
  width:100vw;
  clip-path: circle(0% at 96% 7%);
  /* transform:translateX(100%); */
  height:100vh;
  background-color:#633FFC;
  /* background-color:rgba(255,255,255,.8); */
  filter:blur(0);
  transition:all .3s ease-in;
  box-shadow: 2px 0 10px rgba(0,0,0,.3);
}
.slidein{
  clip-path: circle(150% at 90% 2.5%);
  background-color:#FA5B9F;
  /* transform:translateX(0); */
}

@media (max-width: 576px) {
  .main_logo{
    background-color:black;
    width:20vw;
    padding:.8rem;
  }
  .main_logo.below{
    /* position: relative; */
    min-width: 40px;
    width:3vw;
  }
  .slideout{
    position:fixed;
    padding-top:6rem;
    top:0;
    width:100vw;
    height:100vh;
    /* background-color:rgba(255,255,255,.8); */
    transition:all .3s ease-in;
    box-shadow: 2px 0 10px rgba(0,0,0,.3);
  }
}
