/** {*/
    /*box-sizing: border-box;*/
/*}*/
.imglo{
position:sticky;
display:inline-flex;
width:fill;
z-index: 10;
}

.bodie{
  background-color: #231F79;
}

.titule{
  position: sticky;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    padding: 0;
    height: 0px;
    z-index: 20;
}


.image-container {
  background-image: url("../../images/portfolio/cinco.png");
  background-size: cover;
  position:sticky;
  height: 100vh;

}

.textoo {

  background-color: rgba(255, 255, 255, .9);
  color: black;
  font-size: 3rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode:screen;
}
